# Generic file extensions to ignore

## Python compiled files
*.pyc

# My project folders and files to ignore

## Virtual enviroment folder
.venv/

## pytest cache files 
.pytest_cache/

## Temp stuff
temp/

## Logs
logs/

## Code styling reports
code_styling/*.txt

## Ignore data files that are too big for github (limit dimension 100 MB)

data/calendar.csv
data/output_reviews.csv
data/reviews.csv
